body {
    background: gray;
    background-image: url(../images/pic1.jpg);
    background-size: 1440px 900px;
    background-repeat: no-repeat;
}

h1 {
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    opacity: .5;
}

h2 {
    font-size: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    opacity: .5;
}

.container {
    width: 640px;
    height: auto;
    border: 3px solid black;
    align-content: flex-end;
}